body {
    color: black;
    font-family: times;
    font-size: 16px;
    background-color: lightblue;
}
div {
    width: 720px;
    height: 100px;
    background-color: pink;
    text-align: justify;
}
span {
    font-weight: bold;
    color: purple;
    font-size: 20px;
}
ul {
    color: darkblue;
}
ol {
    color: rgb(255, 0, 0);
    font-weight: bolder;
    font-size: large;
}
h1 {
    background-color: green;
    text-align: center;
}

/* Margin, Border, Padding*/
/* . is for class, # is for id */
.top-section{
    margin-left: 200px;
    border: brown 5px solid;
    padding-left: 50px;
    padding-right: 50px;
    color: teal;
    font-size: 20px;
    width: 500px;
    height: auto;

}